*~
*.xcodeproj/
*.env
*.app/
.vscode/
.DS_Store
CMakeCache.txt
CMakeFiles/
CmakeScripts/
CmakeFiles/
cmake_install.cmake
/apps/common/libraries.txt
__pycache__/
/tmp/
srp.log
/ugens/*/generate_*.sh
/ugens/*/*.fh
/ugens/*/*.dsp
/ugens/*/*.bak

/apps/*/Debug/
/apps/*/build/
/apps/*/*.build/
/apps/*/arco-build/
/apps/*/serpent/
/apps/*/srp.log
/apps/*/version.srp
/apps/*/wxsbuild/
/apps/*/build/
/apps/*/Makefile
/apps/*/dspmakefile
/apps/*/make_faust_ugens.sh
/apps/*/dspsources.cmakeinclude
/apps/*/libarco4lib.a
/apps/*/libsrplib.a
/apps/*/libwxslib.a
/apps/*/log.txt
/apps/*/.arco
/apps/*/Release/
/apps/*/Debug/
/apps/*/make_faust_ugens.sh
/apps/**/allugens.srp
/apps/*/*.dir/
/apps/*/*.sln
/apps/*/*.vcxproj
/apps/*/*.vcxproj.filters
/apps/*/*.vcxproj.user

/apps/basic/**/arcobasic

/apps/test/daserpent
/apps/test/soundfont.srp
/apps/test/testinput.wav
/apps/test/pvoutput.wav
/apps/test/testout.txt
/apps/test/testoutput.wav
/apps/test/groutput.wav
/apps/test/.vs/

/rbdtodo.txt

/serpent/srp/arco-refcount.srp

/ugens/mult-backup/

/doc/ugens.md.old
/serpent/srp/pwl.srp.old

/arco/src/sine_incomplete.h
/apps/handtrack/serpent/
/apps/test/x64/

/fluidsynth/

/apps/perfdata/perfdata*.csv
/apps/perfdata/perfdata.zip
/ugens/zsine/

/benchmarks/blocksize.xlsx
/benchmarks/analysis_results.csv
/benchmarks/data/
/benchmarks/data-jan20/

/ugens/mult/mult.srp
/apps/test/run

/ugens/chorcore_hidden/
/ugens/delayvi_hidden/

/apps/harmonize/

/apps/tpt/transcriptions*.dat
/apps/tpt/*.wav
/apps/tpt/*.csv
/apps/tpt/video/
/apps/tpt/record/
/apps/tpt/audio/

/apps/tpt/Debug7mar26/

/apps/tpt/audio/

/apps/tpt/program/

/benchmarks/Debug/

/benchmarks/Release/

/benchmarks/build/

/apps/point/samples/tpt*.wav

/arcopython25.zip

/python25/

/pr4-filemerge/
