*~
*.xcodeproj/
.DS_Store
CMakeCache.txt
CMakeFiles/
CmakeScripts/
CmakeFiles/
CMakeCache.txt
/arco/cmake_install.cmake
/apps/common/libraries.txt

/apps/*/Debug/
/apps/*/build/
/apps/*/cmake_install.cmake
/apps/*/*.build/
/apps/*/arco-build/
/apps/*/serpent/
/apps/*/srp.log
/apps/*/version.srp
/apps/*/wxsbuild/
/apps/*/Makefile
/apps/*/dspmakefile
/apps/*/make_faust_ugens.sh
/apps/*/dspsources.cmakeinclude
/apps/*/libarco4lib.a
/apps/*/libsrplib.a
/apps/*/libwxslib.a
/apps/*/log.txt
/apps/*/.arco

/apps/basic/**/arcobasic

/ugens/*/generate_*.sh
/ugens/*/*.fh
/ugens/*/*.dsp
/ugens/*/*.bak

/rbdtodo.txt

/serpent/srp/arco-refcount.srp
