*~
*.xcodeproj/
*.env
.DS_Store
CMakeCache.txt
CMakeFiles/
CmakeScripts/
CmakeFiles/
cmake_install.cmake
/apps/common/libraries.txt
__pycache__/
/tmp/
srp.log
/ugens/*/generate_*.sh
/ugens/*/*.fh
/ugens/*/*.dsp
/ugens/*/*.bak

/apps/*/Debug/
/apps/*/build/
/apps/*/*.build/
/apps/*/arco-build/
/apps/*/serpent/
/apps/*/srp.log
/apps/*/version.srp
/apps/*/wxsbuild/
/apps/*/Makefile
/apps/*/dspmakefile
/apps/*/make_faust_ugens.sh
/apps/*/dspsources.cmakeinclude
/apps/*/libarco4lib.a
/apps/*/libsrplib.a
/apps/*/libwxslib.a
/apps/*/log.txt
/apps/*/.arco
/apps/*/Release/
/apps/*/Debug/
/apps/*/make_faust_ugens.sh
/apps/**/allugens.srp
/apps/*/*.dir/
/apps/*/*.sln
/apps/*/*.vcxproj
/apps/*/*.vcxproj.filters
/apps/*/*.vcxproj.user

/apps/basic/**/arcobasic

/apps/test/daserpent
/apps/test/soundfont.srp
/apps/test/testinput.wav
/apps/test/pvoutput.wav
/apps/test/testout.txt
/apps/test/testoutput.wav
/apps/test/groutput.wav
/apps/test/.vs/

/rbdtodo.txt

/serpent/srp/arco-refcount.srp

/ugens/mult-backup/

/doc/ugens.md.old
/serpent/srp/pwl.srp.old

/cmupv/resamptest.xcodeproj
/cmupv/Release
/cmupv/Debug/
/cmupv/build

/arco/src/sine_incomplete.h

/apps/handtrack/serpent/

/apps/test/x64/

/fluidsynth/

/preproc/.vscode/

/ugens/sttest/sttest_abb_a.dsp
/ugens/sttest/sttest_abb_a.fh


/apps/resound/Release/

/ugens/zitarev/zitarev_abb_a.fh

/apps/perfdata/perfdata*.csv
/apps/perfdata/perfdata.zip
/ugens/sttest/
/ugens/zsine/

/apps/server/cmake_install.cmake

/apps/server/dspmakefile

/apps/server/CMakeCache.txt

/apps/server/dspsources.cmakeinclude

/apps/server/allugens.srp

/apps/server/CMakeFiles/cmake.check_cache

/apps/server/CMakeFiles/CMakeConfigureLog.yaml

/apps/server/CMakeFiles/TargetDirectories.txt

/apps/server/CMakeFiles/3.30.0/CMakeDetermineCompilerABI_CXX.bin

/apps/server/CMakeFiles/3.30.0/CMakeDetermineCompilerABI_C.bin

/apps/server/CMakeFiles/3.30.0/CMakeCXXCompiler.cmake

/apps/server/CMakeFiles/3.30.0/CMakeCCompiler.cmake

/apps/server/CMakeFiles/3.30.0/CMakeSystem.cmake

/apps/server/CMakeFiles/

/apps/server/server.xcodeproj/

/apps/server/CMakeScripts/

/apps/server/build/

/apps/server/Debug/

/benchmarks/blocksize.xlsx

/benchmarks/analysis_results.csv

/benchmarks/CMakeFiles/

/benchmarks/Release/

/benchmarks/benchmarks.xcodeproj/

/benchmarks/CMakeScripts/

/benchmarks/build/

/benchmarks/data/

/benchmarks/Debug/

/benchmarks/data-jan20/

/ugens/mult/mult.srp

/apps/test/run

/ugens/chorcore_hidden/

/ugens/delayvi_hidden/
